@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
    ViewData["Message"] = "This site created on ASP.Net core MVC technology using bootstrap and jQuery frameworks. it includes example of SSE usage ";
    ViewData["Main-Header"] = "About this application";
    ViewData["Header-details"] = "This site created on ASP.Net core MVC technology using bootstrap and jQuery frameworks.";
}


<p>this is just a sample page, created for introductory purposes.</p>
