@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
    ViewData["Message"] = "This site created on ASP.Net core MVC technology using bootstrap and jQuery frameworks. it includes example of SSE usage ";
    ViewData["Main-Header"] = "About this application";
    ViewData["Header-details"] = "";
}


<p>this is very simple web Application, created  using ASP.Net core framework , MVC model as well as bootstrap ,jQuery frameworks and more.</p>
