@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
    ViewData["Message"] = "This site created on ASP.Net core MVC technology using bootstrap and jQuery frameworks. it includes example of SSE usage ";
}

<h2>About This Application</h2>
<p>@ViewData["Message"]</p>
