@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact Information";
    ViewData["Message"] = "Contact Information";
    ViewData["Main-Header"] = "Konstantin Gospodinov";
    ViewData["Header-details"] = "contact information";
}

<address>
    71 Cognac Circle<br />
    Saacramento, CA<br />
    <abbr title="Phone">Phone:</abbr>
    +1(916)505-1889
</address>
<address>
    <abbr title="E-Mail">E-Mail:</abbr><br />
    <strong>Personal:</strong> <a href="mailto:Konstantin@Gospodinov.com">Konstantin@Gospodinov.com</a><br />
    <strong>Support:</strong> <a href="mailto:Support@Gospodinov.com">Support@Gospodinov.com</a><br />
    <strong>Emergency contact:</strong> <a href="mailto:Help@Gospodinov.com">Help@Gospodinov.com</a>
</address>
@*<div>
        <span class="skype-button rectangle" data-contact-id="konstantin.gospodinov1" data-text="CallMe"></span>
        <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
    </div>*@