@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Main-Header"] = "Konstantin Gospodinov";
    ViewData["Header-details"] = "a few words about myself";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Early ages</h3>
                <p>
                    I was born in second big and most beautifull russian city - Saint Petersburg
                    <img src="~/images/spb1.jpg" width="100%" />
                </p>
                <p>I am alumini of <a href="https://www.sut.ru/eng">Saint Petersburg University of Telecommunications</a> in 1982</p>
                <p>
                    I started my career in <a href="http://niitv.ru/home-eng"> Television Scientific Research Institute</a> as an electronics engineer  , but soon I was envolwed in software development. During that time I was involved in a few
                    projects in space (Buran) and ship based equipment.

                <p />Started eerly 1990 I was working as Software developer in University of Low-temperature and Food Technologies
                <img src="~/images/Frozen technologies.jpg" width="100%" />
                <a href="https://en.wikipedia.org/wiki/St._Petersburg_State_University_of_Refrigeration_and_Food_Processing_Technologies">University</a>


                </p>

            </div>
            <div class="col-sm-4">
                <h3> California, Bay Area</h3>
                <p>
                    In 1996 I received a job offer from small Californian startup <a href="https://docs.genesys.com">"Genesys Telecommunications"</a> and after family discussion we desided to move to California.
                </p>
                <p>
                    In California we resided in Walnut Creek in San Francisco Bay Area and I started work for the company.
                    <img src="~/images/WalnutCerrek.jpg" width="100%" />
                </p>
                <p>
                    My wife who is M.D. desided to continue her career in US.
                    <h3>Texas</h3>
                <p>
                    <img src="~/images/beaumont.jpg" width="100%" />
                    As a part of my wife's requirmenst in 2001 we moved to small Texan city Beaumont, where she found the place for residentship.
                    I continued to work for my Company Remotely
                </p>
                </p>
            </div>
            <div class="col-sm-4">
                <h3>Back to California</h3>
                <img src="~/images/sacramento.jpg" width="100%" />
                <p>
                    After one year in Texas we desided to return to California and finally setteled in Sacramento.
                    Since then I continued to work for my company from my Home Office
                </p>
                More information about my job experience can be found <a href="/Notifications/Index"> here</a>
            </div>
        </div>
    </div>
</body>
</html>