@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Demo.AspNetCore.ServerSentEvents.Services.MySqliteDBContext
@{
    Layout = "~/Views/Shared/_Layoutdev.cshtml";
    ViewData["Title"] = "SQLite DB API";
    ViewData["Main-Header"] = "SQLite DB access API simple view";
    ViewData["Header-details"] = "plain list of single table";

}
<html>
<head>

</head>
<body>
    <script>
    var name_changged = function()
    {
        update_table("Name");
    };
    function country_changged()
    {
        update_table("Country");
    };
    function zip_changged()
    {
        update_table("Zip");
    };
    function updateTable(data)
    {
        console.log("Updating field"+data);
               $.ajax({url: "Basic/searchDB", success: function(result){
                        $('#'+data).html(result);
                    }});
                });


    };

    </script>

    <h1></h1>
    <table style="width:100%">
        <tr>
            <th>Name<input type="text" id="name-field" onkeypress="name_changed()" rows="1" style="min-height:1Px;"> </th>
            <th>Country<input type="text" id="country-field" onkeyup="country_changed()" rows="1" style="min-height:1Px"></th>
            <th>Zip Code<input type="text" id="zip-field" onkeyup="zip_changed()" rows="1" style="min-height:1Px"></th>
        </tr>
        @foreach (var record in Model.Contacts)
        {

            <tr>
                <td><b>@record.Full_Name</b> </td>
                <td><b>@record.Country</b></td>
                <td><b>@record.Zip_Code</b></td>
            </tr>

        }
    </table>
</body>
</html>

