@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
    ViewData["Main-Header"] = "My projects";
    ViewData["Header-details"] = "work with Genesys";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Genesys Workspace Desktop/Web Edition </h3>
                <p>
                    Genesys Enterprise solutions expose Agent's desktop Apprication that
                    provides interactive acces to company Multimedia environment
                </p>
                <p>Desktop is using in both Cloud or on premises solutions</p>
                <p>
                    This project's goals is to provide highly customizible, flexibly deployed, centralized configurable,
                    easy administrable, expandable working desktop, providing wide range of madia access.
                    It built using .Net framework, Microsoft Unity container for dependency injection, WPF based UI.
                    Progect includes localization, accessibilities and SDK Api for customization.
                <p />This is long life progect managed using Agile metodology , Continuous Integration and Continuous Delivery,
                Nightly Builds  and Nightly test with Jenkins.
                <p />Genesys Workspace Web Edition is web Application implements same functionamities as Desktop edition, but using MVC model. and HTML View presentations.



                <a href="https://docs.genesys.com/Documentation/IW">Genesys Workspace Desktop Edition</a>


                </p>
                video presentation Genesys Workspace Desktop Edition
                <iframe src="https://player.vimeo.com/video/93542916" width="320" height="180" frameborder="0" allowfullscreen></iframe>
                </p>
                video presentation Genesys Workspace Web Edition
                <iframe src="https://player.vimeo.com/video/120393922?color=FF4F1F&title=0&byline=0&portrait=0" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="col-sm-4">
                <h3>Genesys Administrator </h3>
                Genesys Administrator is a single, unified, web-based application that provides the ability
                to deploy, provision, and monitor all Genesys applications.
                It uses Asp .NET technologies to expose configuration, realtime and other data to Genesys solution administrators.

                <h3>Interaction Concentrator server </h3>
                <p>
                    Interaction Concentrator is Genesys core reporting engine designed to store interaction event flow.
                    Multiplatform Server written on C++ and using followinf databases: SQLite for temporary storage, Oracle, DB2, MS SQL
                </p>
                <p>Server collects interaction related information for all medias and stored it in DB.</p>
                <a href="https://docs.genesys.com/Documentation/ICON">Genesys Interaction Concentrator</a>
            </div>
            <div class="col-sm-4">
                <h3><b><i>Older projects</i></b> </h3>
                <p>Variaty servers and adapters using by Genesys solutions, Tools, log players, etc.</p> 

            </div>
        </div>
    </div>
    @*<div id="google"></div>
    <script>$('#google').load('/Notifications/Resume');</script>*@
</body>
</html>