@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Resume";
    ViewData["Main-Header"] = "My Resume";
    ViewData["Header-details"] = "20+ years with Genesys";

}

<html>
<head>
    <style>

        body {
            background-color: lightgray;
        }

        .frame {
            border-style: solid;
            background-color: wheat;
            border-width: 1px;
            max-width: 1000px;
            margin: auto;
            top: 20px;
            position: relative;
            align-self: center;
            // box-shadow: 0 0 0 10px hsl(0, 0%, 50%), 0 0 0 15px hsl(0, 0%, 60%), 0 0 0 20px hsl(0, 0%, 70%), 0 0 0 25px hsl(0, 0%, 80%), 0 0 0 30px hsl(0, 0%, 90%);
        }

        .textfield {
            max-width: 80%;
            margin: 20px 0px 20px 60px;
        }
    </style>
</head>
<body>
    <div class="frame">
        <div class="textfield">
            <center>
                <H2>Konstantin Gospodinov</H2>
                <h3>(916) 505-1889 • konstant11@gmail.com</h3>
            </center>

            <p><h3>Summary of qualifications</h3>
            <p>
                Total 29 years of software development experience. <br /> Design and development Client/Server multi-platform Enterprise solutions
                complicated environments icludes: Server side design, Client side design, Design and inplementation of APIs either custom protocol based or  HTTP based
            <p>Latest experience - multi-channel Agent's desktop - .NET based application that provides Agent's access to variety of media channels includes Email, Chat, Voice, Video, Social medias etc.
            <p>Team player with an ability to work independent .<br /> Customer oriented work style that requires quick problem resolution in near real-time.

            <p>
                <h3>Areas of expertise</h3>
                <ul>
                    <li> C#, XML, XAML, JSON, HTML, JavaScript, T-SQL , Perl, C, C++</li>
                    <li> Frameworks: .NET Framework, .NET Core, ASP.NET MVC</li>
                    <li> Methodologies: Agile Development, SCRUM, CI/CD </li>
                    <li> Environments and tools : MS Visual Studio, JIRA, Jenkins, Code Collaborator, Fish Eye</li>
                    <li> Source controls: Rational Clercase, Mercurial</li>
                </ul>
                <h3> Professional Experience</h3>
                <h4> Telecommunications  Staff Software Developer Daly City, CA  07/2001 - 07/2018</h4>
                <ul>
                    <li>
                        Design and development of Genesys Interaction Workspace. C# ; .NET Framework; WPF , MVC.- 9 years long project (~ 20 releases, Continuous Integration & Deployment includes SDKs for customizations). Unit Tests, Integration Tests using NUnit , Nightly builds and nightly tests using Jenkins. The project started with Genesys traditional and SIP based voice and intercom channels support, then extended on multimedia (Email, Chat, SMS, Video, Social Medias, Outbound , Statistics etc.)
                        Genesys Interaction Workspace is Agent’s Desktop Solution. Role Based , highly customizable solution both application and Web based. Designed to provide  access to all Genesys enterprise services include voice, multimedia and social medias. Web version using RESTfull web api.
                        All the coding is done using MS Visual Studio. Web based Deployment on linux.
                        <p/> components support High Availability and Disaster Recovery feature as well as Cluster configuration for load balancing.
                        Development process using Agile metodologies, SCRUM meetings.

                        <p/> Workspace is designed to work with Genesys Enterprise solution deployed  on vmware infrastructure in the cloud trough VPN. Using SIP access point for voice and video.
                        Work environment – International Team (US, Canada, France, Ukraine)
                        <p/> on Vimeo:
                        <a href="https://vimeo.com/93542916">Presentation</a>

                    <li> Design and Development ASP based Genesys Administrator. C#,ASP, Javascript.
                        <p/>GA is web application designed to acess enterprise configuration Database. using Genesys Config server API.
                    <li>•  Design and development multi-platform Interaction Concentrator server. C++; Oracle; DB2; MS SQL server; SQLite.
                        Interaction Concentrator is  real-time Data integrator designed to organize structured real-time data based on event flow from media servers (SIPServer for voice, Interaction Server for multimedia, Configuration Server for organization tenant states ). All data processing using internal SQLite based Database, and stored in Enterprise Databases (Oracle, MSSQL server, DB2) using stored procedures.


                    <li> Design and Developed cross-platform web based Build server for automated build testing and production
                    <li> Design and Development variety of automation tools for automated testing and troubleshooting.
                </ul>
                <h4> Telera Software Developer Contractor   Campbell, CA   05/2001 - 07/2001</h4>
                <ul>
                    <li> Design and Development adapter for Telera IVR to Genesys solution. Light network connector integrates Telera to Genesys solution.
                </ul>
                <h4> Telecommunications Software Developer  San Francisco, CA 10/1996 - 04/2001</h4>
                <ul>
                    <li> Call Center software development Telephony servers and adapters
                    <li>  Multi-platform support Unix, Windows
                </ul>

            <p>
                <h3>Education</h3>
                Saint Petersburg University of Telecommunications, Russia
                M.S. in Telecommunications
                09/1977 - 08/1982
            <p>
                <h3>Languages</h3>
                English, Russian

        </div>
    </div>
</body>
</html>





