<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://KGG-WIN10.attlocal.net/KGGIntro/index.html</SiteUrlToLaunchAfterPublish>
    <publishUrl>./my_publish</publishUrl>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.0</PublishFramework>
    <UsePowerShell>True</UsePowerShell>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <MSDeployServiceURL>https://KGG-WIN10.attlocal.net</MSDeployServiceURL>
    <!--<DeployIisAppPath>/KGGIntro</DeployIisAppPath>
    <RemoteSitePhysicalPath>/wwwroot/KGGIntro</RemoteSitePhysicalPath>-->
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <!--<MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>-->
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Konstantin</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <AuthType>NTLM</AuthType>
  </PropertyGroup>
</Project>